body {
  background:url("images/lake.jpeg") no-repeat;
  background-size: cover;
  margin:0;
  font-family:'Lora',serif;
  font-size: 17px;
  color:#575F7D;
  font-weight: lighter;
}
.header{
  text-align: center;
  background: #FFE2E2;
  margin:5px 100px;
  padding : 2px;
  opacity: 0.5;
}

h1{
  color: #575F7D;
  font-family:'Indie Flower', cursive;
  font-size: 40px;
  font-weight: 900;
  opacity:1;
}

h2{
  color:#7ECE90;
  font-size: 20px;
  font-weight: 500;
}

a{
  color:#6B72E1;
  opacity: 1
}

li{
  display : inline-block;
  padding: 5px;
  list-style: none;
  float: right;
}
a:hover {
  opacity:0.8;
}

.navigation{
  background:#f6f6f6;
  overflow: hidden;
  opacity: 0.5;
  margin:5px 100px;

}
.navigation a{
  text-decoration:none;
  font-size: 30px;
  font-family: 'Shadows Into Light', cursive;
  display: block;
  float:right;
  padding:15px;

}
.img-circle{
  width:200px;
  height:200px;
  overflow: hidden;
  border-radius: 50%;
  object-fit:cover;

}
.card {
  padding:35px;
  text-align: center;
  background: white;
  margin:25px 300px;
  box-shadow: 5px 5px 5px rgba(210, 215, 211, 1);
}

.button{
  text-decoration:none;
  color:rgba(200, 200, 200, 1);
  background: pink;
  padding:10px;
  border-radius: 10px;
}
.icon{
  width:50px;
  height:50px;
}
@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media(max-width: 540px){
.container{
  width: : 300px;
}
}
